.contenedor-exito {
  background-image: url(../Home/img/fondo.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: 25% 60%;
}

.titulo-re {
  font-weight: 100;
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
}

.mensaje {
    margin-top: 150px;
  width: 60vh;
  height: 55vh;
  background-color: rgb(227, 224, 224);
}

.texto-descripcion-error {
  font-weight: 100;
  font-size: small;
  line-height: 25px;
}

.adress {
  margin-top: 20px;
  font-weight: 400;
}
