.background {
  background-image: url(./img/home.jpg);
  height: 500px;
  background-position: 10% center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.header {
  padding: 0;
}

.logo {
  width: 350px;
  margin-top: 70px;
  margin-bottom: 10px;
  
}

.logo-section{
  width: 60vh;
  text-align: center;
  padding-right: 700px;
}

.bajada {
  font-weight: 100;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.text-card {
  font-size: x-small;
  text-align: center;
}

.cards-favoritos {
  margin-right: 0px;

  margin-top: 50px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.card-favorito {
  border-radius: 0px;
  border: 0px;
}

.foto-favorito {
  border-radius: 0px;
}
.button-home {
  border-radius: 0px;
  font-size: small;
}

.titulo-card {
  font-weight: 100;
  text-align: center;
}

.card-body {
  text-align: center;
}

.titulo-home {
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.premios {
  margin-bottom: 60px;
}

.foto-premio {
  width: 600px;
  margin-left: 50px;
  height: 400px;
  object-fit: none;
}

.texto-descripcion {
  font-size: small;
  line-height: 25px;
  font-weight: 300;
}

.titulo-home2 {
  font-weight: 100;
  margin-top: 70px;

  font-size: 30px;
}


