.titulo-card {
    font-weight: 100;
    text-align: center;
  }
  
  .card-body {
    text-align: center;
  }

  .text-card {
    font-size: x-small;
    text-align: center;
  }
  
  .cards-comment {
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 70px;
  
  }
  
  .comment {
    border-radius: 1px;
    
  }


  .date-comment{
    font-size: x-small;
    font-weight: 400px;
  }